.report_style {
  background-color: white;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.save {
  margin-top: 10px;
  align-items: center;
  width: fit-content;
  // align-self: flex-end;
}
.preview {
  margin-top: 10px;
  align-items: right;
  padding-right: 5px;
  justify-content: right !important;
  // width: fit-content;
  // align-self: flex-end;
}
.button_style {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
