@import "../../layouts/Dashboard/theme.scss";
.sidenav---sidenav---_2tBP {
  background-color: darkcyan;
  position: relative;
}
.leftmarginMax {
  background-color: darkcyan;
  margin-right: 240px;
  padding: 10px;
  .displayNone {
    width: 30px;
    height: 30px;
    float: right;
    .sidenav---icon-bar---u1f02 {
      width: 15px;
    }
  }
}
.leftmarginMin {
  
  margin-right: 84px;
  .sidenav---sidenav-nav---3tvij {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo {
  width: auto;
  height: auto;
  display: flex;
  float: left;
  margin-right: -6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  opacity: 1;
  color: white;
  line-height: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T {
  display: flex;
}

.sidenav---sidenav-subnav---1EN61 {
  background-color: $aakar;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T {
  font-weight: 900;
  color: white;
  font-size: 18px;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f {
  color: white;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo
  > *,
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > * {
  color: white;
  padding: 2px;
}
.sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47
  > .sidenav---navitem---9uL5T {
  font-weight: 600;
  font-size: 15px;
  color: black;
  line-height: 30px;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47
  > .sidenav---navitem---9uL5T {
  line-height: 30px;
}
.sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47:first-child {
  font-weight: 700;
  font-size: 18px;
}
