.sidenav---sidenav---_2tBP {
  background-color: darkcyan;
  position: relative;
}
.leftmarginMax {
  background-color: darkcyan;
  margin-right: 240px;
  padding: 10px;
  .displayNone {
    width: 30px;
    height: 30px;
    float: right;
    .sidenav---icon-bar---u1f02 {
      width: 15px;
    }
  }
}
.leftmarginMin {
  margin-right: 84px;
}
.displaybox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T
  .sidenav---navicon---3gCRo {
  width: auto;
  height: auto;
  display: flex;
  float: left;
  margin-right: -6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  opacity: 1;
  color: white;
  line-height: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-
  > .sidenav---navitem---9uL5T {
  display: flex;
}
