.core-input .core-input-label {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.title {
  background-color: lightgray;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.core-dropdown .core-dropdown-menu {
  width: 100%;
}
.core-dropdown {
  width: 100% !important;
}
.core-dropdown .core-dropdown-toggle {
  width: 100% !important;
}
.edit {
  .core-dropdown .core-dropdown-menu {
    width: fit-content;
  }
}
.panel {
  display: flex;
  flex-direction: row;
  &.space {
    justify-content: space-between;
  }
}
.section {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
