.paginationStyle {
  display: flex;
  justify-content: space-between;
  color: darkcyan;
  ul {
    li {
      padding: 0px 10px;
      &.active {
        border: 2px solid darkcyan;
        border-radius: 20px;
      }
    }
  }
}
